# Zip Code Lookup by Latitude & Longitude

In [2]:
# Dependencies
import pandas as pd
from uszipcode import SearchEngine
from pprint import pprint

In [4]:
# Import the CSV data for the clean crime data
csv_path_2 = os.path.join("crimes_2021_real_clean.csv")
crime_df = pd.read_csv(csv_path_2, encoding="utf-8")
crime_df.head()

   Unnamed: 0 Primary Type              Description   Latitude  Longitude
0           0      BATTERY  DOMESTIC BATTERY SIMPLE  41.766435 -87.635964
1           1        THEFT           $500 AND UNDER  41.748474 -87.630607
2           2      BATTERY  DOMESTIC BATTERY SIMPLE  41.882224 -87.766076
3           3    NARCOTICS        POSSESS - COCAINE  41.790069 -87.654769
4           4     HOMICIDE      FIRST DEGREE MURDER  41.771062 -87.586271

In [5]:
# Add column for Zip Code
crime_df['Zip Code'] = ""
crime_df.head()

,Unnamed: 0,Primary Type,Description,Latitude,Longitude,Zip Code
0,0,BATTERY,DOMESTIC BATTERY SIMPLE,41.766435,-87.635964,
1,1,THEFT,$500 AND UNDER,41.748474,-87.630607,
2,2,BATTERY,DOMESTIC BATTERY SIMPLE,41.882224,-87.766076,
3,3,NARCOTICS,POSSESS - COCAINE,41.790069,-87.654769,
4,4,HOMICIDE,FIRST DEGREE MURDER,41.771062,-87.586271,

In [19]:
# Iteratre through the rows to lookup and append the zip code based on latitude & longitude
sr = SearchEngine()

for index, row in crime_df.iterrows():

    lat = row['Latitude']
    lng = row['Longitude']

    result = sr.by_coordinates(lat, lng, radius=5, returns=1)
    
    try:
        crime_df.loc[index, 'Zip Code'] = result[0].zipcode
    except (KeyError, IndexError):
        print(f"Error on index {index}.")

print('Query for zip code lookup complete')

Query for zip code lookup complete

In [21]:
# Verify the zip code has been added to all lines in the table
crime_df

,Unnamed: 0,Primary Type,Description,Latitude,Longitude,Zip Code
0,0,BATTERY,DOMESTIC BATTERY SIMPLE,41.766435,-87.635964,60621
1,1,THEFT,$500 AND UNDER,41.748474,-87.630607,60620
2,2,BATTERY,DOMESTIC BATTERY SIMPLE,41.882224,-87.766076,60644
3,3,NARCOTICS,POSSESS - COCAINE,41.790069,-87.654769,60621
4,4,HOMICIDE,FIRST DEGREE MURDER,41.771062,-87.586271,60637
...,...,...,...,...,...,...
203085,205442,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,41.776705,-87.687234,60636
203086,205502,BURGLARY,FORCIBLE ENTRY,41.926829,-87.639162,60614
203087,205503,BATTERY,"AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SE...",41.799124,-87.587265,60615
203088,205507,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,41.883146,-87.743759,60644
203089,205560,BATTERY,"PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / ...",41.979006,-87.906463,60106

In [23]:
# Create a CSV with the revised data with zip codes added
output_file = "crimes_2021_clean_zc.csv"
crime_df.to_csv(output_file, encoding='utf-8')